<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to the Blog World</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
    <div class="container">
        <h2 class="welcome-title">Welcome to the Blog World, {{username}}!</h2>
        <form action="/blog" method="GET">
            <button type="submit" class="btn btn-block btn-primary">Go to the Front Page</button>
        </form>
    </div>
  </body>
</html>
